md-card.client.md-whiteframe-z2

  md-card-title
    md-card-title-text
      span.md-headline(ng-hide='is_scheduled')
        | {{ user.first_name }}, let's schedule your coaching session with {{ client.coach.name }}.
      span.md-headline(ng-show='is_scheduled')
        | {{ user.first_name }}, you have scheduled a coaching session with {{ client.coach.name }}.

  md-card-content

    div.scheduled-row(layout='row', layout-padding='', layout-margin='', ng-show='is_scheduled')
      .your-appointment(flex='100', flex-gt-xs='75', flex-gt-sm='50', flex-gt-md='33')
        include ../partial/your-appointment

    div.unscheduled-row(layout='column', layout-gt-sm='row', layout-padding='', layout-margin='', ng-hide='is_scheduled')
      .appointment-column.md-whiteframe-z1(flex='100', flex-gt-sm='33', ng-hide='is_scheduled')
        include ../partial/select-date
      .appointment-column.md-whiteframe-z1(flex='100', flex-gt-sm='33', ng-show='appointments.available.length || appointments.none_available')
        include ../partial/select-time
      .appointment-column.md-whiteframe-z1(flex='100', flex-gt-sm='33', ng-show='appointment_time')
        include ../partial/confirm