.appointment-column.ng-hide-remove
  -webkit-transition 0.3s ease all
  transition 0.3s ease all
  transition-delay 0.1s

.appointment-column.ng-hide
  position relative
  top 50px
  opacity 0

.appointment-column
  position relative
  top 0px
  opacity 1