.appointment

  .your-appointment > md-card
    background-color #eee

  .your-appointment-content md-icon
    position relative
    left 8px

  .appointment-column
    max-width calc(33.33% - 16px)
    min-height 420px
    background-color #f7f7f7
    flex-direction column
    justify-content flex-start

    h4
      font-size 36px
      font-weight 200
      margin -8px -8px 24px -8px
      padding 8px
      text-align center
      background-color #0098cc
      color white

    md-datepicker
      background transparent !important

    md-list
      width 100%
      background-color white

      md-icon
        position relative
        top -2px

    md-card
      box-shadow none

      md-card-actions
        margin-top 30px