.appointment

  .appointment-column
    min-height 420px
    background-color #eee
    flex-direction column
    justify-content flex-start

    md-datepicker
      background transparent !important

    md-list
      width 100%
      background-color white