.login-area
  height 100%
  width 100%
  background-color #eee
  display flex
  justify-content center
  align-items center

  .login-dialog
    height 200px
    width 100%
    position relative
    top -10%
    display flex
    align-items center
    flex-direction column

    h1
      font-size 60px
      font-weight 200

    p
      font-weight bold