md-toolbar.md-whiteframe-z1(md-theme='grey-theme')
  .md-toolbar-tools
    img.brand(src='/img/logo.png')
    span(flex='')
    span.username {{ user.username }}

    md-menu(md-position-mode='target-right target', md-offset='0 65')
      md-button.md-icon-button(aria-label='Open avatar menu', ng-click='$mdOpenMenu($event)')
        img.avatar(ng-show='user.avatar', ng-src='{{ user.avatar }}')
        md-icon(ng-hide='user.avatar') person
      md-menu-content(width='3')
        md-menu-item
          md-button(ng-click='logout()')
            div(layout='row')
              p(flex='') Log out
              md-icon(md-menu-align-target='') exit_to_app