.client

  .your-appointment > md-card
    background-color #eee

  .your-appointment-content md-icon:not(.md-avatar-icon)
    position relative
    left 8px

  .appointment-column
    max-width calc(33.33% - 16px)
    min-height 420px
    background-color #f7f7f7
    flex-direction column
    justify-content flex-start

    h4
      font-size 36px
      font-weight 200
      margin -8px -8px 24px -8px
      padding 8px
      text-align center
      background-color #0098cc
      color white

    md-datepicker
      background transparent !important

    md-list
      width 100%
      background-color white
      overflow-y auto
      max-height 314px

      md-icon
        position relative
        top -2px

    md-card
      box-shadow none
      margin 0
      height 330px

      md-card-actions
        margin-top 30px


@media (max-width: 600px)
  .appointment
    .scheduled-row,
    .your-appointment
      margin-left 0
      margin-right 0
      margin-top 20px
      padding-left 0
      padding-right 0

    .appointment-column
      max-width 100%
      min-height 420px
      max-height 420px