md-toolbar

  .brand
    margin-top -5px
    max-height 30px

  .username
    font-size 14px
    margin-right 10px

  .md-icon-button
    background-color #e7e7e7
    margin-right 6px !important

    .avatar
      max-height 40px
      max-width 40px
      margin-left -8px
      margin-top -8px
      cursor pointer